<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type=text/css href="/static/style.css">
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <title>Real or Fake Job Prediction</title>
</head>

<body>
  <div class="container">
    {% for message in get_flashed_messages() %}
      <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              {% if message=='FRAUDULENT JOB' %}
                <div class="flx">
                  <img src="../static/down.png" alt="downguy">
                  <span class="ms">{{message}}</span>
                </div>
              {% else %}
                <div class="flxs">
                  <img class="imgup" src="../static/up.png" alt="upguy">
                  <span class="mss">{{message}}</span>
                </div>
              {% endif %}
             
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary ok" >OK</button></div>
          </div>
        </div>
      </div>

    {% endfor %}
    <h1 class="text-center">Real or Fake <span style="color:#01634d">Job Description</span> Classifier</h1>
    <hr>
    
    <div class="main-container">
      <h1>?</h1>
      <div class="imgbox">
        <img src="../static/img1.png" alt="guy" class="guy">
        <h2>Is it Real or Fake?</h2>
        <h4>The Real or Fake Job Description Classifier is an automated tool using machine learning based classification techniques to detect fraudulent or authentic description of a job postings.</h4>
      </div>
      <form action="{{ url_for('submit') }}" method="POST" enctype="multipart/form-data">
        <input type="text" class="form-control title" rows="1" cols="100" id="title" name="title" placeholder="Job Title">
        <input type="text" class="form-control" rows="1" cols="100" id="title" name="location" placeholder="Location">
        <input type="text" class="form-control" rows="1" cols="100" id="title" name="department" placeholder="Department">
        <input type="text" class="form-control" rows="1" cols="100" id="title" name="ben" placeholder="Benefits">

        <select name="emptype" required class="form-control form-select" aria-label="Default select example">
          <option selected="true" class="placeholder" disabled="disabled" value="">Employment Type</option>
          <option value="Fulltime">Full-Time</option>
          <option value="Part Time">Part-Time</option>
          <option value="Contract">Contract</option>
          <option value="Temporary">Temporary</option>
          <option value="Other">Other</option>
        </select>

        <select name="exp" required class="form-control form-select" aria-label="Default select example">
          <option selected="true" class="placeholder" disabled="disabled" value="">Required Experience</option>
          <option value="Internship">Internship</option>
          <option value="Mid-senior level">Mid-Senior Level</option>
          <option value="Associate">Associate</option>
          <option value="Entry level">Entry level</option>
          <option value="Executive">Executive</option>
          <option value="Director">Director</option>
          <option value="Not applicable">Not applicable</option>
          <option value="Other">Other</option>
        </select>

        <input type="text" class="form-control" rows="1" cols="100" id="title" name="edu" placeholder="Required Education">
        <input type="text" class="form-control" rows="1" cols="100" id="title" name="indu" placeholder="Industry">
        <input type="text" class="form-control" rows="1" cols="100" id="title" name="func" placeholder="Function">
        <textarea class="form-control desc" id="exampleFormControlTextarea1" rows="3" name="profile" placeholder="Company Profile"></textarea>
        <textarea class="form-control desc" id="exampleFormControlTextarea1" rows="3" name="req" placeholder="Requirements"></textarea>
        <textarea class="form-control desc" id="exampleFormControlTextarea1" rows="3" name="des" placeholder="Description"></textarea>


        <button type="submit" class="button-34" data-toggle="modal" data-target="#successModal">Predict</button>

      </form>
    </div>
  </div>
</body>
<script>
  $('#myModal').on('show.bs.modal', function () {      // wire up the OK button to dismiss the modal when shown
    $('#myModal .modal-footer .btn').on('click', function (e) {
      console.log('button pressed');              // just as an example...
      $('#myModal').modal('hide');                // dismiss the dialog
    });
  });

  $('#myModal').on('hide.bs.modal', function () {      // remove the event listeners when the dialog is dismissed
    $('#myModal a.btn').off('click');
  });

  $('#myModal').on('hidden.bs.modal', function () {    // remove the actual elements from the DOM when fully hidden
    $('#myModal').remove();
  });

  $('#myModal').modal({                               // wire up the actual modal functionality and show the dialog
    'backdrop': 'static',
    'keyboard': true,
    'show': true                              // ensure the modal is shown immediately
  });
</script>
</html>